@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<header>
    <div class="container-1100">
        <div class="row clearfix">
            <a href="index.html" class="header-logo">
                <img src="~/images/govumuco-5b4eddda37d72.png"
                     alt="I Boost Gram">
            </a>
            <nav class="header-nav clearfix">
                <ul class="clearfix">
                    <li><a href="index.html#about">About</a></li>
                    <li><a href="index.html#features">Features</a></li>
                    <li><a href="index.html#packages">Prices</a></li>
                </ul>
                <a class="link" href="/home/login">Login</a>
                <a href="/home/signup" class="button button--small button--outline">Sign up</a>
            </nav>
        </div>
    </div>
</header>
<div class="cover">
    <div class="container-1100">
        <div class="row clearfix">
            <h1 class="cover-title">
                A Smarter way to <br> Auto Post on Instagram
            </h1>
            <p class="cover-summary">
                Save time managing your Instagram accounts, publish and analyze all your posts in one panel.
            </p>
            <a href="signup.html" class="button button--oval">Get started</a>
            <span class="trial">
                *
                7 days free trial
            </span>
        </div>
    </div>
</div>


<div id="features" class="section">
    <div class="container-1100">
        <div class="row">
            <h2 class="section-title text-c">Here is features for you</h2>
            <div class="feature-list clearfix">
                <div class="feature-list-item">
                    <div>
                        <div class="imgbox">
                            <div>
                                <img src="~/images/features/1.png" alt="Unique Design">
                            </div>
                        </div>
                        <span class="label">Unique Design</span>
                    </div>
                </div>
                <div class="feature-list-item">
                    <div>
                        <div class="imgbox">
                            <div>
                                <img src="~/images/features/2.png" alt="Multi Accounts">
                            </div>
                        </div>
                        <span class="label">Multi Accounts</span>
                    </div>
                </div>
                <div class="feature-list-item">
                    <div>
                        <div class="imgbox">
                            <div>
                                <img src="~/images/features/3.png" alt="Auto Post Content">
                            </div>
                        </div>
                        <span class="label">Auto Post Content</span>
                    </div>
                </div>
                <div class="feature-list-item">
                    <div>
                        <div class="imgbox">
                            <div>
                                <img src="~/images/features/4.png" alt="Schedule Calendar">
                            </div>
                        </div>
                        <span class="label">Schedule Calendar</span>
                    </div>
                </div>
                <div class="feature-list-item">
                    <div>
                        <div class="imgbox">
                            <div>
                                <img src="~/images/features/5.png" alt="Free Trial">
                            </div>
                        </div>
                        <span class="label">Free Trial</span>
                    </div>
                </div>
                <div class="feature-list-item">
                    <div>
                        <div class="imgbox">
                            <div>
                                <img src="~/images/features/6.png" alt="Safe to use">
                            </div>
                        </div>
                        <span class="label">Safe to use</span>
                    </div>
                </div>
                <div class="feature-list-item">
                    <div>
                        <div class="imgbox">
                            <div>
                                <img src="~/images/features/7.png" alt="Mobile Responsive">
                            </div>
                        </div>
                        <span class="label">Mobile Responsive</span>
                    </div>
                </div>
                <div class="feature-list-item">
                    <div>
                        <div class="imgbox">
                            <div>
                                <img src="~/images/features/8.png" alt="Could Import">
                            </div>
                        </div>
                        <span class="label">Could Import</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="packages" class="section">
    <div class="container-1100">
        <div class="row clearfix pos-r">
            <h2 class="section-title text-c">Relevant prices for you</h2>
            <div class="package-list clearfix">

                <div class="package-list-item">
                    <div>
                        <div class="price">
                            <span class="number">4.<sup>99</sup></span>
                            <span class="per">
                                USD/per month
                            </span>
                        </div>
                        <div class="title">Alpha</div>
                        <div class="annual">
                            Annual Price:
                            49.<sup>00</sup>                                        USD
                            <div class="save">
                                You save <span>10.<sup>88</sup> USD</span>
                            </div>
                        </div>
                        <div class="features">
                            <div class="feature">
                                Only 1 account
                            </div>
                            <div class="feature">
                                <div class="feature-title">Post Types:</div>
                                <div>
                                    <span class="">Photo</span>,
                                    <span class="not">Video</span>,

                                    <br>

                                    <span>Story (Photo only)</span>,

                                    <br>
                                    <span>Album (Photo only)</span>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="feature-title">Cloud Import:</div>
                                <div style="height: 35px;">



                                    <span class="m-5 inline-block" style="line-height: 24px;">Not available</span>
                                </div>
                            </div>

                            <div class="feature">
                                <span class="not">Spintax Support</span>
                            </div>
                            <div class="feature">
                                Storage:
                                <span class="color-primary fw-500">
                                    150MB
                                </span>
                            </div>
                        </div>
                        <div class="choose">
                            <a href="signupc4e2.html?package=1" class="button button--dark button--oval">Get started</a>
                        </div>
                    </div>
                </div>
                <div class="package-list-item">
                    <div>
                        <div class="price">
                            <span class="number">7.<sup>99</sup></span>
                            <span class="per">
                                USD/per month
                            </span>
                        </div>
                        <div class="title">Beta Pack</div>
                        <div class="annual">
                            Annual Price:
                            79.<sup>00</sup>                                        USD
                            <div class="save">
                                You save <span>16.<sup>88</sup> USD</span>
                            </div>
                        </div>
                        <div class="features">
                            <div class="feature">
                                Up to 3 accounts
                            </div>
                            <div class="feature">
                                <div class="feature-title">Post Types:</div>
                                <div>
                                    <span class="">Photo</span>,
                                    <span class="">Video</span>,

                                    <br>

                                    <span>Story (Photo+Video)</span>,

                                    <br>
                                    <span>Album (Photo+Video)</span>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="feature-title">Cloud Import:</div>
                                <div style="height: 35px;">
                                    <span class="icon m-5 mdi mdi-google-drive" title="Google Drive"></span>

                                    <span class="icon m-5 mdi mdi-dropbox" title="Dropbox"></span>

                                    <span class="icon m-5 mdi mdi-onedrive" title="OneDrive"></span>

                                </div>
                            </div>

                            <div class="feature">
                                <span class="">Spintax Support</span>
                            </div>
                            <div class="feature">
                                Storage:
                                <span class="color-primary fw-500">
                                    250MB
                                </span>
                            </div>
                        </div>
                        <div class="choose">
                            <a href="signupe41c.html?package=2" class="button button--dark button--oval">Get started</a>
                        </div>
                    </div>
                </div>
                <div class="package-list-item">
                    <div>
                        <div class="price">
                            <span class="number">17.<sup>99</sup></span>
                            <span class="per">
                                USD/per month
                            </span>
                        </div>
                        <div class="title">Gamma Pack</div>
                        <div class="annual">
                            Annual Price:
                            165.<sup>79</sup>                                        USD
                            <div class="save">
                                You save <span>50.<sup>09</sup> USD</span>
                            </div>
                        </div>
                        <div class="features">
                            <div class="feature">
                                Unlimited accounts
                            </div>
                            <div class="feature">
                                <div class="feature-title">Post Types:</div>
                                <div>
                                    <span class="">Photo</span>,
                                    <span class="">Video</span>,

                                    <br>

                                    <span>Story (Photo+Video)</span>,

                                    <br>
                                    <span>Album (Photo+Video)</span>
                                </div>
                            </div>
                            <div class="feature">
                                <div class="feature-title">Cloud Import:</div>
                                <div style="height: 35px;">
                                    <span class="icon m-5 mdi mdi-google-drive" title="Google Drive"></span>

                                    <span class="icon m-5 mdi mdi-dropbox" title="Dropbox"></span>

                                    <span class="icon m-5 mdi mdi-onedrive" title="OneDrive"></span>

                                </div>
                            </div>

                            <div class="feature">
                                <span class="">Spintax Support</span>
                            </div>
                            <div class="feature">
                                Storage:
                                <span class="color-primary fw-500">
                                    300MB
                                </span>
                            </div>
                        </div>
                        <div class="choose">
                            <a href="signup94f0.html?package=3" class="button button--dark button--oval">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-1100">
        <div class="row clearfix">
            <a href="index.html" class="footer-logo">
                <img src="~/images/govumuco-5b4eddda37d72.png"
                     alt="I Boost Gram">
            </a>
            <select class="footer-lang-selector" data-base="index.html">
                <option value="en-US" selected>English</option>
                <option value="de-DE">Deutsch</option>
                <option value="es-ES">Español (España)</option>
                <option value="hi-IN">हिन्दी</option>
                <option value="id-ID">Bahasa Indonesia</option>
                <option value="it-IT">Italiano</option>
                <option value="pt-BR">Português (Brasil)</option>
                <option value="ru-RU">Русский</option>
                <option value="tr-TR">Türkçe</option>
            </select>

            <div class="copyright">
                &copy; Copyright 2018
            </div>
        </div>
    </div>
</footer>