<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="theme-color" content="#fff">
    <meta name="description" content="">
    <meta name="keywords" content="instagram, auto post, schedule, multiple accounts, social media">

    <title>@ViewData["Title"] - InstaWeb</title>
    <link href="~/css/coree8a6.css" rel="stylesheet" />
    <link href="~/css/pluginse8a6.css" rel="stylesheet" />
    <link href="~/css/core.css" rel="stylesheet" />
    <link href="~/css/plugins.css" rel="stylesheet" />
    <link href="~/css/filemanager.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojione/2.1.4/assets/sprites/emojione.sprites.css">


</head>
<body>


    @RenderBody()
    <script src="~/js/plugins.js"></script>
    <script src="~/js/filemanager.js"></script>


    @RenderSection("Scripts", required: false)
    <script src="~/js/core.js"></script>

</body>
</html>
